<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.common.mapper.BidderExceptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.BidderException">
        <id column="ID" property="id" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="BID_SECTION_ID" property="bidSectionId" />
        <result column="BIDDER_ID" property="bidderId" />
        <result column="EXCEPTION_TYPE" property="exceptionType" />
        <result column="EXCEPTION_REASON" property="exceptionReason" />
        <result column="OPERATOR_ID" property="operatorId" />
        <result column="OPERATOR_NAME" property="operatorName" />
        <result column="OPERAT_TIME" property="operatTime" />
        <result column="ENABLED" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INSERT_TIME, BID_SECTION_ID, BIDDER_ID, EXCEPTION_TYPE, EXCEPTION_REASON, OPERATOR_ID, OPERATOR_NAME, OPERAT_TIME, ENABLED
    </sql>

</mapper>
