<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.common.mapper.EvalResultEpcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.EvalResultEpc">
        <id column="ID" property="id" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="BID_SECTION_ID" property="bidSectionId" />
        <result column="BIDDER_ID" property="bidderId" />
        <result column="BID_PRICE" property="bidPrice" />
        <result column="BUSINESS_SCORE" property="businessScore" />
        <result column="DETAILED_SCORE" property="detailedScore" />
        <result column="TOTAL_SCORE" property="totalScore" />
        <result column="ORDER_NO" property="orderNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INSERT_TIME, BID_SECTION_ID, BIDDER_ID, BID_PRICE, BUSINESS_SCORE, DETAILED_SCORE, TOTAL_SCORE, ORDER_NO
    </sql>

    <resultMap id="bidder_Result" type="com.ejiaoyi.common.entity.EvalResultEpc" extends="BaseResultMap">
        <result column="BIDDER_NAME" property="bidderName"/>
    </resultMap>

    <select id="listRankingBidderByBsId" resultMap="bidder_Result">
        SELECT e.*, b.BIDDER_NAME FROM eval_result_epc e,bidder b
        <where>
            1 = 1
            <if test="bidSectionId != null and bidSectionId != '' ">
                AND e.BID_SECTION_ID = #{bidSectionId}
            </if>
            AND b.ID = e.BIDDER_ID
        </where>
        ORDER BY e.ORDER_NO ASC
    </select>

</mapper>
