<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.common.mapper.GroupResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.GroupResult">
        <id column="ID" property="id" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="BID_SECTION_ID" property="bidSectionId" />
        <result column="BIDDER_ID" property="bidderId" />
        <result column="BIDDER_NAME" property="bidderName" />
        <result column="GRADE_ID" property="gradeId" />
        <result column="GRADE_ITEM_ID" property="gradeItemId" />
        <result column="GRADE_TYPE" property="gradeType" />
        <result column="GRADE_ITEM_NAME" property="gradeItemName" />
        <result column="GRADE_NAME" property="gradeName" />
        <result column="GROUP_COMMENTS" property="groupComments" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INSERT_TIME, BID_SECTION_ID, BIDDER_ID, BIDDER_NAME, GRADE_ID, GRADE_ITEM_ID, GRADE_TYPE, GRADE_ITEM_NAME, GRADE_NAME, GROUP_COMMENTS
    </sql>

</mapper>
