<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.common.mapper.LikeCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.LikeCount">
        <id column="ID" property="id" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="BID_SECTION_ID" property="bidSectionId" />
        <result column="COUNT" property="count" />
        <result column="REMAKE" property="remake" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INSERT_TIME, BID_SECTION_ID, COUNT, REMAKE
    </sql>

</mapper>
