<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.admin.mapper.LoggingEventPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.LoggingEventProperty">
        <id column="event_id" property="eventId"/>
        <result column="mapped_key" property="mappedKey"/>
        <result column="mapped_value" property="mappedValue"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        event_id, mapped_key, mapped_value
    </sql>

</mapper>
