<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.admin.mapper.LoggingEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.LoggingEvent">
        <id column="event_id" property="eventId"/>
        <result column="timestmp" property="timestmp"/>
        <result column="formatted_message" property="formattedMessage"/>
        <result column="logger_name" property="loggerName"/>
        <result column="level_string" property="levelString"/>
        <result column="thread_name" property="threadName"/>
        <result column="reference_flag" property="referenceFlag"/>
        <result column="arg0" property="arg0"/>
        <result column="arg1" property="arg1"/>
        <result column="arg2" property="arg2"/>
        <result column="arg3" property="arg3"/>
        <result column="caller_filename" property="callerFilename"/>
        <result column="caller_class" property="callerClass"/>
        <result column="caller_method" property="callerMethod"/>
        <result column="caller_line" property="callerLine"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        timestmp, formatted_message, logger_name, level_string, thread_name, reference_flag, arg0, arg1, arg2, arg3,
        caller_filename, caller_class, caller_method, caller_line, event_id
    </sql>

    <select id="listRuntimeLog" resultMap="BaseResultMap">
        SELECT * FROM logging_event
        <where>
            <if test="timeDiff !=null ">
                and timestmp &lt; ${timeDiff }
            </if>
        </where>
    </select>

</mapper>
