<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.common.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.Project">
        <id column="ID" property="id" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="PROJECT_CODE" property="projectCode" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="REGION_CODE" property="regionCode" />
        <result column="INVEST_PROJECT_CODE" property="investProjectCode" />
        <result column="ADDRESS" property="address" />
        <result column="LEGAL_PERSON" property="legalPerson" />
        <result column="INDUSTRIES_TYPE" property="industriesType" />
        <result column="SOURCE_FUND" property="sourceFund" />
        <result column="CONTRIBUTION_SCALE" property="contributionScale" />
        <result column="PROJECT_SCALE" property="projectScale" />
        <result column="CONTACT_PERSON" property="contactPerson" />
        <result column="CONTACT_INFORMATION" property="contactInformation" />
        <result column="APPROVAL_NAME" property="approvalName" />
        <result column="APPROVAL_NUMBER" property="approvalNumber" />
        <result column="APPROVAL_AUTHORITY" property="approvalAuthority" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="REG_ID" property="regId" />
        <result column="DELETE_FLAG" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INSERT_TIME, PROJECT_CODE, PROJECT_NAME, REGION_CODE, INVEST_PROJECT_CODE, ADDRESS, LEGAL_PERSON, INDUSTRIES_TYPE, SOURCE_FUND, CONTRIBUTION_SCALE, PROJECT_SCALE, CONTACT_PERSON, CONTACT_INFORMATION, APPROVAL_NAME, APPROVAL_NUMBER, APPROVAL_AUTHORITY, CREATE_TIME, REG_ID, DELETE_FLAG
    </sql>

</mapper>
