<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.common.mapper.UserCertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.common.entity.UserCert">
        <id column="ID" property="id" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="USER_ID" property="userId" />
        <result column="UKEY_NUM" property="ukeyNum" />
        <result column="USER_TYPE" property="userType" />
        <result column="CA_NAME" property="caName" />
        <result column="LOGIN_FLAG" property="loginFlag" />
        <result column="DELETE_FLAG" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INSERT_TIME, USER_ID, UKEY_NUM, USER_TYPE, CA_NAME, LOGIN_FLAG, DELETE_FLAG
    </sql>

</mapper>
