section {
  width: 90%;
  height: calc(100% - 80px);
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}
section .process {
  width: 100%;
  height: 214px;
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 12px;
}
.process .head {
  display: inline-block;
  width: 100%;
  min-height: 62px;
  text-align: center;
  padding: 0 2%;
  box-sizing: border-box;
  line-height: 62px;
  border-bottom: 1px solid #cfdae5;
  vertical-align: middle;
}
.process .head p {
  width: calc(100% - 100px);
  line-height: 24px;
  display: inline-block;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  color: #1a2539;
  vertical-align: middle;
  overflow: visible;
  white-space: pre-wrap;
}
.process .head span {
  display: inline-block;
  width: 80px;
  height: 36px;
  border: 1px solid #0066cc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  color: #0066cc;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}
.process h3 span:hover {
  opacity: 0.7;
}
.process ul {
  width: 100%;
  height: 110px;
  margin-top: 20px;
}
.process ul li {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  overflow: initial;
  z-index: 0;
}
.process ul li .flow-num {
  width: 48px;
  height: 48px;
  background: rgba(242, 242, 242, 1);
  border-radius: 50%;
  font-size: 24px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  color: #9c9c9c;
  line-height: 48px;
  text-align: center;
  z-index: 999999;
  margin: 0 auto;
  box-sizing: border-box;
}
.process ul li .flow-right {
  width: calc(50% - 23px);
  height: 1px;
  border-top: 1px dashed #cfdae5;
  box-sizing: border-box;
  position: relative;
  left: calc(50% + 24px);
  bottom: 24px;
}
.process ul li .flow-left {
  width: calc(50% - 24px);
  height: 1px;
  border-top: 1px dashed #cfdae5;
  box-sizing: border-box;
  position: relative;
  top: 25px;
}
.process ul li p {
  width: 100%;
  height: 36px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  color: #9c9c9c;
  line-height: 36px;
  text-align: center;
  margin-top: 10px;
}

.process ul .sele .flow-num {
  width: 48px;
  height: 48px;
  background: url(../img/process_back.png) no-repeat center center;
  border: 1px solid rgba(0, 102, 204, 1);
  color: #fff;
  font-weight: bold;
  z-index: 99999;
  box-sizing: border-box;
}
.process ul .sele p {
  color: rgba(0, 102, 204, 1);
  font-weight: bold;
}
.process ul .sele .blove {
  background-color: rgba(0, 102, 204, 1);
}
