* {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
html,
body {
    width: 100%;
    height: 100%;

    background: #0b1a41;
    opacity: 1;
}
h2 {
    width: 100%;
    height: 93px;
    font-size: 32px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 93px;
    text-align: center;
    color: #ffffff;
    background: url(/img/anychat/head.png) no-repeat left bottom;
    background-size: 100%;
}
.cont {
    width: 100%;
    height: calc(100% - 93px);
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.left {
    width: 75.5%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.left-top {
    width: 100%;
    height: 137px;
}
.left-top div {
    width: 49%;
    height: 100%;
    display: inline-block;
    background: url(/img/anychat/big-border.png) no-repeat center center;
    background-size: 100% 100%;
}
.left-top div + div {
    margin-left: 1%;
}
.left-top div h3 {
    width: 95%;
    height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 60px;
    color: #1462fe;
}
.left-top div p {
    width: 95%;
    height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 60px;
    color: #1462fe;
}
.left-cen {
    width: 100%;
    height: 487px;
    margin-top: 20px;
}
.left-cen .host,
.main {
    width: 49%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
}
.left-cen div h3 {
    width: 95%;
    height: 36px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 50px;
    color: #fdfdfd;
    padding: 0 20px;
    box-sizing: border-box;
}
.left-cen div div {
    width: calc(100% - 40px);
    height: 410px;
    background-color: #fff;
    margin: 20px;
}
.left-cen div h3 span {
    margin-left: 5%;
}
.left-cen div + div {
    margin-left: 1.3%;
}
.left-bottom {
    width: 100%;
    height: 246px;
}
.left-bottom .notice {
    width: 99.3%;
    height: 186px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    padding-top: 30px;
    box-sizing: border-box;
}
.left-bottom .company {
    width: 99.3%;
    height: 60px;
    background: #2c354b;
    opacity: 1;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: #fdfdfd;
}
.notice-cont {
    width: 100%;
    height: 116px;
}
.notice-cont .cont-first {
    width: 26%;
    height: 100%;
    float: left;
    border-right: 1px solid #ffffff;
}
.notice-cont .cont-second {
    width: 26%;
    height: 100%;
    float: left;
    border-right: 1px solid #ffffff;
}
.notice-cont .cont-third {
    width: 45%;
    height: 100%;
    float: right;
}
.cont-first p {
    width: 100%;
    height: 58px;
    padding-left: 10%;
    box-sizing: border-box;
    font-size: 26px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 58px;
    color: #fdfdfd;
}
.cont-second p {
    width: 100%;
    height: 58px;
    font-size: 26px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 58px;
    color: #fdfdfd;
    text-align: center;
}
.cont-second div {
    width: 160px;
    height: 58px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 26px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 58px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.cont-third p {
    width: 100%;
    height: 58px;
    font-size: 26px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 58px;
    color: #fdfdfd;
}
.cont-third ul {
    width: 100%;
    height: 58px;
}
.cont-third ul li {
    width: 58px;
    height: 58px;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    color: #1462fe;
    margin-right: 10px;
}
.cont-third ul b {
    width: 18px;
    height: 58px;
    font-size: 60px;
    font-family: Microsoft YaHei;
    font-weight: 500;
    line-height: 58px;
    float: left;
    color: rgba(255, 255, 255, 0.6);
}
.right {
    width: 24%;
    height: calc(100% - 20px);
    max-height: calc(100% - 20px);
    float: right;
    padding: 20px;
    box-sizing: border-box;
    background: #032363;
    margin-top: 20px;
}
.right ul {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.right ul::-webkit-scrollbar {
    display: none;
}
.right ul li {
    width: 100%;
    height: 224px;
    background: rgba(255, 255, 255, 0.3);
    padding: 0 20px;
    box-sizing: border-box;
}
.right ul li p {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 50px;
    color: #fdfdfd;
}
.right ul li p span {
    display: inline-block;
    width: 46px;
    height: 20px;
    background: #05bfbf;
    opacity: 1;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}
.right ul li p b {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: url(/img/anychat/badge.png) no-repeat center center;
    float: right;
    margin-top: 10px;
}
.right ul li .face {
    width: 100%;
    height: 160px;
}
.right ul li .face div {
    width: 48%;
    height: 100%;
    background-color: #fff;
    float: left;
}
.right ul li .face div:nth-child(2) {
    float: right;
}
