<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejiaoyi.admin.mapper.ReviewAuthorityLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ejiaoyi.admin.entity.ReviewAuthorityLog">
        <id column="ID" property="id" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="USER_ID" property="userId" />
        <result column="USER_NAME" property="userName" />
        <result column="CERT_NAME" property="certName" />
        <result column="KEY_NO" property="keyNo" />
        <result column="OPERATE_TYPE" property="operateType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INSERT_TIME, USER_ID, USER_NAME, CERT_NAME, KEY_NO, OPERATE_TYPE
    </sql>

</mapper>
