* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
p {
  margin: 0;
}
html.body {
  width: 100%;
  height: 100%;
  /* background-color: #b4b4b4; */
}
img {
  display: block;
}
a {
  text-decoration: none;
}
button,
input {
  cursor: pointer;
}
header {
  width: 100%;
  height: 100%;
  background: url(/img/download.png) no-repeat;
  background-size: 100% 100%;
}
.head {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.banner {
  width: 100%;
  height: 619px;
  border-top: 1px solid #fff;
}
.head h3 {
  width: 130px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: rgba(243, 247, 255, 1);
}
.head h3 img {
  width: 40px;
  height: 40px;
}
.head ul {
  width: 650px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head ul li {
  width: 150px;
  height: 80px;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 80px;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.btn {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn button {
  width: 90px;
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 4px;
}
.btn button:nth-child(1) {
  background-color: #1d8bf9;
  color: rgba(243, 247, 255, 1);
  font-weight: 900;
}
.btn button:nth-child(2) {
  background: rgba(243, 247, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 4px;
  color: rgba(0, 98, 235, 1);
  font-weight: 900;
}
.head ul li span {
  display: block;
  width: 16px;
  height: 16px;
  background: url(/img/bottom.png) no-repeat;
  margin-left: 5px;
  margin-top: 5px;
}
.head ul li:hover {
  opacity: 1;
}
.head ul li:hover i {
  width: 29px;
  height: 3px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -15px;
}
.sup i {
  width: 29px;
  height: 3px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -15px;
}
.head .iconfont {
  width: 29px;
  height: 29px;
  font-size: 24px;
  color: #fff;
  font-weight: 900;
  opacity: 1;
  cursor: pointer;
}

section {
  width: 100%;
  background: rgba(251, 251, 251, 1);
}
.foot {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot .left {
  width: 120px;
  height: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(199, 199, 199, 1);
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 30px;
  color: rgba(17, 22, 30, 1);
  text-align: center;
  opacity: 1;
  background: url(/img/bottom_gary.png) no-repeat 100px 6px;
  cursor: pointer;
}
.foot ol {
  width: 360px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.foot ol li {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(199, 199, 199, 1);
  box-sizing: border-box;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 30px;
  color: rgba(17, 22, 30, 1);
  text-align: center;
  cursor: pointer;
}
section .content .foot p {
  width: 100px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 24px;
  color: rgba(17, 22, 30, 1);
  display: flex;
  align-items: center;
  margin: 0px;
}
.foot .right {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.foot p span {
  display: block;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(163, 180, 212, 1);
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 30px;
  color: rgba(17, 22, 30, 1);
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}
.foot ol li img {
  display: block;
  width: 14px;
  height: 14px;
  margin: 8px auto;
}
footer {
  width: 100%;
  height: 300px;
  background: rgba(47, 50, 57, 1);
  opacity: 1;
}
footer .jie {
  width: 1200px;
  height: 240px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
footer .icp {
  width: 100%;
  height: 60px;
  background: rgba(38, 41, 46, 1);
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 500;
  line-height: 60px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
footer .icp span {
  margin-left: 20px;
}
footer .jie .logo {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
footer .jie .logo div {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 9px;
  background: url(/static/img/logo.png) no-repeat center center rgba(255, 255, 255, 1);
  background-size: 50px 50px;
  cursor: pointer;
  margin-bottom: 10px;
}
footer .jie .logo p {
  width: 140px;
  height: 24px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
footer .jie .contact {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
footer .jie .contact h4 {
  width: 100%;
  height: 27px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
  margin: 20px 0;
}
footer .jie .contact p {
  width: 100%;
  height: 24px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
}
footer .jie .ma {
  width: 84px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .jie .ma p {
  width: 84px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
footer .jie .contact i {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
footer .jie span {
  width: 1px;
  height: 130px;
  background-color: #fff;
  opacity: 0.3;
}
.backtop {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 10px;
  bottom: 300px;
  border-radius: 10px;
  display: none;
}
.backtop .icon-fanhuidingbu {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.ele {
  width: 1200px;
  height: 80px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ele p {
  height: 80xp;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 80px;
  color: rgba(17, 22, 30, 1);
}
.ele input {
  display: block;
  width: 300px;
  height: 40px;
  background: rgba(251, 251, 251, 1);
  opacity: 1;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  text-align: center;
  border: none;
}
.all {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
}
.all ol {
  width: 900px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.all ol li {
  width: 115px;
  height: 36px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: rgba(17, 22, 30, 1);
  cursor: pointer;
}
.all ol li:hover {
  color: rgba(0, 98, 235, 1);
}
.all ol .touch {
  background: rgba(0, 98, 235, 1);
  opacity: 1;
  border-radius: 4px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
.all ol .touch:hover{
  color: #FFFFFF;
}
.all div {
  width: 1200px;
  height: 120px;
  display: flex;
}
.all div h3 {
  width: 140px;
  height: 120px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 120px;
  text-align: center;
  color: rgba(17, 22, 30, 1);
  cursor: pointer;
}
.all div ul {
  width: 1060px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.all div ul li {
  width: 80px;
  height: 36px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: rgba(17, 22, 30, 1);
  box-sizing: border-box;
  cursor: pointer;
}
.all div ul li:hover {
  border: 1px solid rgba(0, 98, 235, 1);
  color: rgba(0, 98, 235, 1);
  box-sizing: border-box;
}
.all div ul .ctiy {
  border: 1px solid rgba(0, 98, 235, 1);
  color: rgba(0, 98, 235, 1);
}
.shop {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  align-items: center;
  margin-top: 10px;
}
.shop li {
  width: 280px;
  height: 178px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 8px;
  margin: 10px;
  box-sizing: border-box;
}
.shop li .tou {
  width: 285px;
  height: 78px;
  background: rgba(0, 190, 171, 1);
  opacity: 1;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
}
.shop li .jiao {
  width: 285px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.shop li .jiao p {
  width: 245px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  color: rgba(17, 22, 30, 1);
}
.shop li .jiao div {
  width: 245px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: rgba(180, 180, 180, 1);
}
.shop li .jiao div .green {
  width: 60px;
  height: 30px;
  border: 1px solid rgba(0, 190, 171, 1);
  opacity: 1;
  border-radius: 15px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 30px;
  color: rgba(0, 190, 171, 1);
  background-color: #fff;
}
.backtop {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 10px;
  bottom: 300px;
  border-radius: 10px;
  display: none;
}
.backtop .icon-fanhuidingbu {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.head ul li a {
  color: #fff;
}
.head ul li ol {
  width: 91px;
  height: 164px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  left: 15px;
  bottom: -165px;
  display: none;
}
.head ul li ol li {
  width: 56px;
  height: 14px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 14px;
  color: #000;
  opacity: 1;
}
