* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
button {
  cursor: pointer;
}
header {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
}
section {
  width: 100%;
  height: 1000px;
  background: rgba(239, 243, 245, 1);
  padding-top: 150px;
  box-sizing: border-box;
  position: relative;
}
.box {
  width: 800px;
  height: 524px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  margin: 0 auto;
}
h3 {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 60px;
  color: rgba(26, 51, 88, 1);
  text-align: center;
  border-bottom: 1px solid rgba(212, 220, 235, 1);
}
h4 {
  width: 100%;
  height: 76px;
  line-height: 76px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  color: rgba(26, 51, 88, 1);
  padding: 20px;
  box-sizing: border-box;
}
.cont {
  width: 739px;
  height: 166px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  color: rgba(26, 51, 88, 1);
  opacity: 1;
  margin: 30px 20px;
}
.foot {
  width: 190px;
  height: 40px;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}
.foot .yes {
  width: 86px;
  height: 40px;
  background: rgba(0, 98, 235, 1);
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}
.foot .no {
  width: 86px;
  height: 40px;
  background: rgba(212, 220, 235, 1);
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 900;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}
