*{
    margin: 0;
    padding: 0;
}
ul , li {
    list-style: none;
}
p{
    margin: 0;
}
html.body{
    width: 100%;
    height: 100%;
    /* background-color: #b4b4b4; */
}
img{
    display: block;
}
a{
    text-decoration: none;
    
}
button,input{
    cursor: pointer;
}
section{
    width: 100%;
    height: 100%;
    background-color: #eff3f5;
}
.box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 120px;
    height: 980px;
    background-color: #fff;
}
.right{
    width: 1060px;
    height: 980px;
    background-color: #fff;
}
.left ul li{
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.left ul li div{
    font-size:15px;
    font-family:"Microsoft YaHei";
    font-weight:900;
    line-height:24px;

    margin-top: 5px;
}

.left ul li:hover div{
    color:rgba(0,98,235,1);
}
.right ul{
    width: 1060px;
    height: 300px;

}
.right ul li{
    width: 1000px;
    height: 75px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(212,220,235,1);
}
.right ul li p{
    width: 1000px;
    font-size:14px;
    font-family:"Microsoft YaHei";
    font-weight:900;
    color:rgba(26,51,88,1);
    opacity:1;
} 
.right ul li p span{
    font-size:14px;
    font-family:"Microsoft YaHei";
    font-weight:900;
    color:rgba(26,51,88,1);
    opacity:1;
    float: right;
}
.right .idCard{
    width: 1000px;
    padding: 0 30px;
    margin-top: 30px ;
    display: flex;
}
.right .idCard p{
    width: 650px;
    font-size:14px;
    font-family:"Microsoft YaHei";
    font-weight:900;
    color:rgba(26,51,88,1);
    opacity:1;
}
.right .idCard .photo{
    width: 340px;
    height: 160px;
    display: flex;
    justify-content: space-between;
}
.right .idCard .photo div{
    width: 160px;
    height: 160px;
    background:rgba(243,247,255,1);
    border:1px dashed rgba(180,180,180,1);
}
.right .add{
    width: 100%;
    height: 200px;
    position: relative;
}
.right .add span{
    display: block;
    width: 100px;
    height: 40px;
    background-color: rgba(0,98,235,1);
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    border: none;
    line-height: 40px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -20px;
}
.right .add span:hover{
    background-color: rgb(0, 141, 235);
    transition: 0.5s;
}


.v1{
    background: url(../img/bian.png) no-repeat 0px 0px;
    background-color: rgba(243,247,255,1);
    color:rgba(0,98,235,1);
}